body{
    background-color: #eee;
}
.todoTask{
    list-style-type: none;
    padding:0;
    margin:0;
}
.todoTask>li{
    margin:10px;
    display: flex;
    align-items: center;
}
.todoTask>li>.col-xs-6{
    display: flex;
    align-items: center;
}
.todoTask>li>.col-xs-6>*{
    margin:5px;
}